{% extends 'HTML/Base.html' %}

{% block content %}

    <body>

        <div id="logoutDiv" style="background-color: #263038; margin-top: 10em; max-width: 40em; margin-left: 20em;" class="rCorners">

            <p class="ml-2 p-1 mb-0">Notice:</p>

            <div class="consoleBackground rCorners text-center pb-4 pt-4" style="min-height: 13em;">
                <h1>Successfully Logged Out!</h1>
                <a class="btn btn-info mt-3" href="/login">Return To Login Page</a>
            </div>

        </div>

    </body>

{% endblock %}


