{% extends 'HTML/Base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block content %}

    <body>

        <div id="ServerListBackground" class="ServerListBackground p-2" hidden>

            <div class="row">
                <h1 class="col-9">Welcome To Warden Server Hosting!: </h1>

                <h2 class="col-3">Active Servers: <span id="activeServersSpan"></span>/<span id="serverLimitSpan"></span></h2>
            </div>

            <p class="mt-3">Below is a list of Servers: </p>

                <div id="serverContainer" class="row row-cols-1 row-cols-md-2">

                    {% for server in servers %}

                        <div class="card mb-4 mr-4 border-0" style="width: 18rem; max-width: 20em;">

                          <div id="loader{{ server.pk }}" class="loader" hidden></div>

                          <div id="serverCard{{ server.pk }}" class="bg-info text-light h-100 ml-0 col p-2 serverCard">

                              <div class="serverCoverDiv">
                                  {% if server.Game == "Minecraft" and server.Modpack == "Vault Hunters" %}
                                      <img class="card-img-top serverCover" src="{% static 'favicon/Images/Vault_Hunters_BG.jpg' %}" alt="Card image cap">
                                  {% elif server.Game == "Minecraft" and server.Modpack == "None" %}
                                      <img class="card-img-top serverCover" src="{% static 'favicon/Images/Vanilla_Minecraft_BG.jpg' %}" alt="Card image cap">
                                  {% elif server.Game == "Rust" and server.Modpack == "None" %}
                                      <img class="card-img-top serverCover" src="{% static 'favicon/Images/Vanilla_Rust_BG.jpg' %}" alt="Card image cap">
                                  {% else %}
                                      <p>{{ server.Modpack }}</p>
                                  {% endif %}
                              </div>

                              <div class="card-body">
                                <h5 class="card-title">{{ server.Name }}</h5>

                                <p class="card-text" style="min-height: 5em;">{{ server.Description }}</p>
                                  <p id="statusP{{ server.pk }}" class="card-text">Status:
                                      {% if server.Status == True %}
                                        <span id="onStatus{{ server.pk }}" class="badge badge-success onStatus{{ server.pk }}">Online</span>
                                      {% else %}
                                        <span id="offStatus{{ server.pk }}" class="badge badge-danger offStatus{{ server.pk }}">Offline</span>
                                      {% endif %}
                                </p>

                                <div id="btnContainer{{ server.pk }}">
                                    {% if server.Status == False %}
                                        <a href="#" id="startServer{{ server.pk }}" class="btn btn-success mt-2" onclick="startServer({{ server.pk }})">Start Server</a>
                                    {% else %}
                                        <a href="#" id="stopServer{{ server.pk }}" class="btn btn-danger mt-2" onclick="stopServer({{ server.pk }})">Stop Server</a>
                                        <a href="viewConsole/{{ server.pk }}" id="console{{ server.pk }}" class="btn mt-2 ml-2" style="background-color: blue; color: white">View Console</a>
                                    {% endif %}

                                    <a href="viewConsole/{{ server.pk }}" id="console{{ server.pk }}" class="btn mt-2 ml-2" style="background-color: blue; color: white" hidden>View Console</a>
                                </div>


                              </div>
                          </div>

                        </div>

                    {% endfor %}

                </div>
        </div>

    </body>

{% endblock %}


