html, body {
    height: 100%;
    min-height: 100%;
    -webkit-background-size: 100%;
}

.backgroundImage-wrap {
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
}

.backgroundImage-bg {
  opacity: 0.8;
  position: absolute;
  width: 105%;
  z-index: -10;
}

.backgroundImage-content {
    position: relative;
}

.loading-darken {
  filter: brightness(30%);
}

.serverCover {
  height: 8.2em;
  width: 19em;
}

.pageLoader {
  position: absolute;
  left: 46%;
  top: 47%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #17A2B8;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  z-index: 10;
}

.loader {
  position: absolute;
  left: 33%;
  top: 40%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #17A2B8;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  z-index: 10;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.consoleBackground {
    background-color: #2D3943;
}

.consolePrevious {
    width: 10em;
    height: 30em;
    overflow: scroll;
    overflow-x: hidden;
}

.consolePrevious::-webkit-scrollbar {
    display: none;
}

.consoleCurrent {
    width: 10em;
    min-height: 2em;
}

.rCorners {
   border-radius: 10px 10px 10px 10px;
}

.rCorners2 {
   border-radius: 0px 0px 10px 10px;
}

.rCorners3 {
   border-radius: 10px 10px 0px 0px;
}

.terminalBlinking::after {
  content: "";
  top: 0;
  right: -15px;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: #606060;
  vertical-align: top;
  width: 10px;
  /* Set height to the line height of .text */
  height: 24px;
  /*
  Animation paramaters:
  blink = animation-name,
  1s = animation-duration,
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
  z-index: 10;
}

#noConnectionDiv {
    position: fixed;
    max-width: 40em;
    min-width: 40em;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#loginDiv {
    position: fixed;
    max-width: 40em;
    min-width: 40em;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#logoutDiv {
    position: fixed;
    max-width: 40em;
    min-width: 40em;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}